<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ky.lebron.dao.LbjContentMapper" >
  <resultMap id="BaseResultMap" type="com.ky.lebron.domain.LbjContent" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="INDEX_CATEGORY_ID" property="indexCategoryId" jdbcType="BIGINT" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="RESOURCE" property="resource" jdbcType="VARCHAR" />
    <result column="AUTHOR" property="author" jdbcType="VARCHAR" />
    <result column="TITLE_PICTURE" property="titlePicture" jdbcType="VARCHAR" />
    <result column="CONTENT_PICTURE" property="contentPicture" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ky.lebron.domain.LbjContent" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, INDEX_CATEGORY_ID, TITLE, CREATE_TIME, RESOURCE, AUTHOR, TITLE_PICTURE, CONTENT_PICTURE
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.ky.lebron.domain.LbjContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from lbj_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ky.lebron.domain.LbjContentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lbj_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from lbj_content
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from lbj_content
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ky.lebron.domain.LbjContentExample" >
    delete from lbj_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ky.lebron.domain.LbjContent" >
    insert into lbj_content (ID, INDEX_CATEGORY_ID, TITLE, 
      CREATE_TIME, RESOURCE, AUTHOR, 
      TITLE_PICTURE, CONTENT_PICTURE, CONTENT
      )
    values (#{id,jdbcType=BIGINT}, #{indexCategoryId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{resource,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{titlePicture,jdbcType=VARCHAR}, #{contentPicture,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ky.lebron.domain.LbjContent" >
    insert into lbj_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="indexCategoryId != null" >
        INDEX_CATEGORY_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="resource != null" >
        RESOURCE,
      </if>
      <if test="author != null" >
        AUTHOR,
      </if>
      <if test="titlePicture != null" >
        TITLE_PICTURE,
      </if>
      <if test="contentPicture != null" >
        CONTENT_PICTURE,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="indexCategoryId != null" >
        #{indexCategoryId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="titlePicture != null" >
        #{titlePicture,jdbcType=VARCHAR},
      </if>
      <if test="contentPicture != null" >
        #{contentPicture,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ky.lebron.domain.LbjContentExample" resultType="java.lang.Integer" >
    select count(*) from lbj_content
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lbj_content
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.indexCategoryId != null" >
        INDEX_CATEGORY_ID = #{record.indexCategoryId,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.resource != null" >
        RESOURCE = #{record.resource,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        AUTHOR = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.titlePicture != null" >
        TITLE_PICTURE = #{record.titlePicture,jdbcType=VARCHAR},
      </if>
      <if test="record.contentPicture != null" >
        CONTENT_PICTURE = #{record.contentPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update lbj_content
    set ID = #{record.id,jdbcType=BIGINT},
      INDEX_CATEGORY_ID = #{record.indexCategoryId,jdbcType=BIGINT},
      TITLE = #{record.title,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      RESOURCE = #{record.resource,jdbcType=VARCHAR},
      AUTHOR = #{record.author,jdbcType=VARCHAR},
      TITLE_PICTURE = #{record.titlePicture,jdbcType=VARCHAR},
      CONTENT_PICTURE = #{record.contentPicture,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lbj_content
    set ID = #{record.id,jdbcType=BIGINT},
      INDEX_CATEGORY_ID = #{record.indexCategoryId,jdbcType=BIGINT},
      TITLE = #{record.title,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      RESOURCE = #{record.resource,jdbcType=VARCHAR},
      AUTHOR = #{record.author,jdbcType=VARCHAR},
      TITLE_PICTURE = #{record.titlePicture,jdbcType=VARCHAR},
      CONTENT_PICTURE = #{record.contentPicture,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ky.lebron.domain.LbjContent" >
    update lbj_content
    <set >
      <if test="indexCategoryId != null" >
        INDEX_CATEGORY_ID = #{indexCategoryId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="resource != null" >
        RESOURCE = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        AUTHOR = #{author,jdbcType=VARCHAR},
      </if>
      <if test="titlePicture != null" >
        TITLE_PICTURE = #{titlePicture,jdbcType=VARCHAR},
      </if>
      <if test="contentPicture != null" >
        CONTENT_PICTURE = #{contentPicture,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ky.lebron.domain.LbjContent" >
    update lbj_content
    set INDEX_CATEGORY_ID = #{indexCategoryId,jdbcType=BIGINT},
      TITLE = #{title,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      RESOURCE = #{resource,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      TITLE_PICTURE = #{titlePicture,jdbcType=VARCHAR},
      CONTENT_PICTURE = #{contentPicture,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ky.lebron.domain.LbjContent" >
    update lbj_content
    set INDEX_CATEGORY_ID = #{indexCategoryId,jdbcType=BIGINT},
      TITLE = #{title,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      RESOURCE = #{resource,jdbcType=VARCHAR},
      AUTHOR = #{author,jdbcType=VARCHAR},
      TITLE_PICTURE = #{titlePicture,jdbcType=VARCHAR},
      CONTENT_PICTURE = #{contentPicture,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>